body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
header {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
header h1 {
    font-size: 2rem;
    margin: inherit;
    color: burlywood;
}
header strong {
    font-size: 2rem;
    margin: inherit;
    color:rosybrown
}